.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}


.border-outline {
    border: 1px solid black;
    width: 85%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
}